@font-face {
  font-family: 'SunBatang-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

input, textarea{
  outline: none;
}

html,body{
  width: 100vw;
  height: 100vh;
  background: #F0E4D8;
  font-family: 'SunBatang-Light';
}


#wrapper{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  /* display: flex; */
  position: relative;
}

/* modal */
.modal{
  width: 600px;
  max-height: 450px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  background: #fff;
  border-radius: 30px;
  display: none;
  padding: 30px;
}

.modal_bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(5px);
  display: none;
}

.modal-body{
  position: relative;
  height: 100%;
  width: 100%;
}

#modalThumbnail{
  float: left;
  width: 35%;
  border-radius: 10px;
  transform: translateY(10%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px;

}

#modalInfo{
  float: right;
  width: 60%;
  font-size: 14px;
}

#modalTitle{
  font-weight: bold;
  font-size: 16px;
}

#modalDate{
  position: absolute;
  bottom: 30px;
  right: 20px;
  color: #aaa;
}


/* 왼쪽 검색 섹션 */
#section_left{
  width: 30%;
  height: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#wrap{
  width: 80%;
  justify-content: center;
  align-items: center;
}

.mainTitle{
  opacity: 0;
  margin-bottom: 50px;
  /* transition: 5s; */
}


#title{
  font-size: 15px;
  margin-top: 20px;
}
#author{
  font-size: 12px;
  color: #aaa;
  margin-top: -10px;
  margin-bottom: 0;
}

#commentForm{
  display: block;
  width: 300px;
}

#comment{
  resize: none;
  background: inherit;
  border-radius: 10px;
  border: 1px solid #BCA888;
  letter-spacing: 1px;
  padding: 5px 10px;
  width: 80%;
  font-size: 14px;
}

#commentSaveBt{
  width: 60px;
  height: 30px;
  margin-top: 10px;
  border-radius: 20px;
  background: #BCA888;
  border: none;
  color: #fff;
  font-size: 13px;
}

/* search bar */
.input-container{width: 300px; margin: 15px 0; position: relative;} 

input[type="text"] {
  font-size: 14px;
  color: #111;
  width: 70%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: inherit;
  border: 1px solid #BCA888;
  border-radius: 10px;
  padding: 5px 0 5px 30px;
}

.input-container::before{
  background: url("../images/search.png") no-repeat;
  background-size: 17px;
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  position: absolute;
  margin: 8px 10px;
}





.searchResult img{
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}






/* 오른쪽 책갈피 섹션 */
#section_right{
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
}

#container{
  width: 100%;
  padding: 30px;
}

.bookMark{
  width: 180px;
  background: #2F4842;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.commentBox{
  font-weight: bold;
  margin-bottom: 60px;
}

.titleBox{
  font-size: 10px;
  margin-top: 20px;
}

/* 태블릿용 css */
/* @media all and (max-width:768px) { } */



/* 모바일용 css */
@media all and (max-width:768px) { 

  html,body{
    background-color: #fff;
  }

  #wrapper{
    width: 100%;
  }

  .modal{
    width: 70%;
    max-height: 550px;
    /* position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    background: #fff;
    border-radius: 30px;
    display: none;
    padding: 30px; */
  }

  
  .modal-body{
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  #modalThumbnail{
    float: none;
    display: block;
    width: 50%;
    margin: 0 auto;
    transform: translateY(0);
  }
  
  #modalInfo{
    float: none;
    width: 100%;
    font-size: 14px;
  }
  
  #modalTitle{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  
  #modalDate{
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: #aaa;
  }






  #section_left{
    width: 100%;
    height: 180px;
    background: #F0E4D8;
    position: relative;
    /* border-radius: 0  0 40px 40px; */
    display: block;
    position: fixed;
    padding: 50px;
    z-index: 99;
  }


  #section_right{
    width: 100%;
    height: 75%;
    position: absolute;
    margin-top: 180px;
  }

  .searchResult{
    display: none;
    position: absolute;
    width: 45%;
    margin-top: 55px;
    padding: 0 10px;
    text-align: center;
    margin-left: -30px;
  }


  #commentForm{
    display: none;
    position: absolute;
    width: 45%;
    left: 50%;
    margin-top: 5px
  }

  #commentSaveBt{
    float: right;
    margin-right: 20%;
  }


  .mainTitle{
    margin-bottom: 25px;
    transition: 5s;
  }

  input[type="text"] {
    width: 380px;
  }

  #container{
    width: 90%;
    margin: 0 auto;
  }
}
